.container {
  width: 600px;
  margin: auto;
}

body {
  background-color: #f0f2f4;
}

header {
  padding-bottom: 10px;

}

nav {
  padding: 10px;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}

.container-filter-cards {
  padding: 10px;
}

.content-filter-input {
  padding: 10px;
}

.content-cards {
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.card {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 0 12px 6px #fff;
  margin: 10px auto;
  background-color: #fff;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.not-found {
  margin: auto;
  padding: 10px;
  border: 1px solid #db2f2f;
  background-color: #ff000017;
}

.not-found div {
  padding: 10px;
  text-align: center;

}

.not-found div::first-letter {
  text-transform: capitalize;
}

input {
  width: -webkit-fill-available;
  padding: 10px;
  outline: none;
}